h1 {
  color: teal;
}

.title {
  text-decoration: underline;
  text-decoration-style: dotted;
}

h2 {
  font-size: 20px;
}

table, th, td {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

tr:hover {background-color:lightblue;}

th {
  background-color: teal;
  color: white;
}
